



.horizontal-section {
    padding: 0 !important;
}

paper-item {
    --paper-item: {
        cursor: pointer;
    };
}
.sublist paper-item {
    padding-left: 1px;
}
.sublist2 paper-item {
    padding-left: 30px;
}

paper-dialog.size-position {
    position: fixed;
    left:20px;
    top:20px;
    width: 300px;
    height: 400px;
    overflow: auto;
}


google-map {
    width: 720px;
    height:1024px;
    display: block;
    left: 10px;
    top: 6px;
    position: relative;
}

#listJob{
    width: 720px;
    height:1615px;
    left: 10px;
    top: 6px;
}
:host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}



#mainPanel {
}




#footToolbar {
  right: 0px;
  left: 0px;

  position: relative;

}